.content {
  grid-area: c;
  background: rgb(252, 193, 0);
}
  
.contentCar img {
  width: 750px;
  height: 290px;
  background-size: cover;
  overflow: hidden;
}
  
.contentAva img {
  width: 100px;
}
