.nav {
    grid-area: n;
    background: rgb(173, 215, 221);
    color: white;
    padding: 20px;
}

.item {
    text-decoration: none;
    color: #551A8B;
    cursor: pointer;
}

.item a.activeLink {
    color: rgb(255, 1, 65);
}