a {
  text-decoration: none;
}
.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  overflow: hidden;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-row-gap: 20px;
  grid-column-gap: 20px;
} 

.app-wrapper-content {
  grid-area: c;
  background: rgb(252, 193, 0);
}
