.dialogs {
    display: grid; 
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: greenyellow;
}

.dialog {
   text-decoration: none;
}

.messages  {
    padding: 10px;
}

.messages .message {

}